* {
    margin: 0;
    text-decoration: none;
    color: inherit;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

nav {
    background-color: #00000061;
    margin-bottom: 10vh;
    width: 100%;
}

.navbar-icon {
  max-width: 6vw;
  min-width: 5rem;
  margin: 0.5rem;
}

.side-bar{
  width: 60%;
  height: 9vh;
  position: fixed;
  background: linear-gradient(161deg, #000 5.86%, rgb(53 51 51 / 82%) 161.77%), #FFF;
  flex-direction: column;
}

.side-row > * {
  font-size: clamp(50px, 1.7vw, 64px);
}

.side-row img {
  width: 3rem;
}
